{% extends "lainatehdas/base.html" %}

{% block content %}
    <p>Nimi - {{item.item_name}}</p>
    <p>Seloste - {{item.item_desc}}</p>
    <p>Tyyppi - {{item.get_item_type_display}}</p>
    <p>Tila - {{item.get_item_avail_display}}</p>
    {% load static %}
    <img src="{% static item.item_img %}" width="500" height="600">
    <br>
    {% if item.item_avail == "Va" %}
        <form method="POST" action="{% url 'lainatehdas:create_new_reservation' item.id %}">
            {% csrf_token %}
            <button class="bg-blue-500 text-white px-4 py-2 rounded-md">Varaa</button>
        </form>
    {% elif item.item_avail == "Vr" %}
        {% for reservation in reservation_list %}
            {% if reservation.date_returned == Null and reservation.user_id == request.user.id %}
                <form method="POST" action="{% url 'lainatehdas:update_return_date' reservation.id reservation.item.id %}">
                    {% csrf_token %}
                    <button type= "submit" class="bg-green-500 text-white px-4 py-2 rounded-md">Palauta</button>
                </form>
            {% elif reservation.date_returned == Null and reservation.user_id != request.user.id %}
                <button type= "submit" class="bg-gray-500 text-white px-4 py-2 rounded-md" disabled>{{item.get_item_avail_display}}</button>
            {% endif %}
        {% endfor %}
    {% else %}
        <button type= "submit" class="bg-gray-500 text-white px-4 py-2 rounded-md" disabled>{{item.get_item_avail_display}}</button>
    {% endif %}
    <script>
        console.log('{{item.item_img}}')
    </script>
{% endblock %}