{% extends "lainatehdas/base.html" %}


{% block title %}Välineet{% endblock %}
{% block content %}

<div class="bg-gray-100 py-8">
    <div class="container mx-auto px-4">
        <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold mb-8 text-center">Välineet</h1>

        <div class="mb-4">
            <input type="text" id="searchInput" class="w-full px-4 py-2 border rounded-md shadow-md" placeholder="Etsi välinettä...">
        </div>

        {% if items_list %}
            <ul id="itemList" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
                {% for item in items_list %}
                    <li class="bg-white rounded-lg shadow-md hover:shadow-lg transition-transform transform hover:-translate-y-1">
                        <a href="{% url 'lainatehdas:detail' item.id %}" class="block p-4">
                            <h2 class="text-xl md:text-2xl lg:text-3xl font-semibold text-gray-900 mb-2">{{ item.item_name|capfirst }}</h2>
                            <div class="aspect-w-4 aspect-h-5 mb-4 bg-gray-200 rounded-lg overflow-hidden">
                                <img src="{{MEDIA_URL}}{{item.item_img}}" class="object-cover" alt="{{ item.item_name }}">
                            </div>                            
                            <div class="text-center">
                                {% if item.item_avail == "Va" %}
                                    <form method="POST" action="{% url 'lainatehdas:create_new_reservation' item.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md">Varaa</button>
                                    </form>
                                {% elif item.item_avail == "Vr" %}
                                    {% for reservation in reservation_list %}
                                        {% if reservation.item_id == item.id and reservation.date_returned == null and reservation.user_id == request.user.id %}
                                            <form method="POST" action="{% url 'lainatehdas:update_return_date' reservation.id reservation.item.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded-md">Palauta</button>
                                            </form>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <button type="button" class="bg-gray-500 text-white px-4 py-2 rounded-md cursor-not-allowed" disabled>{{ item.get_item_avail_display }}</button>
                                {% endif %}
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-lg text-gray-700">Ei välineitä</p>
        {% endif %}

    </div>
</div>

<script>
    document.getElementById('searchInput').addEventListener('input', function() {
        var searchInput = this.value.toLowerCase();
        var itemList = document.getElementById('itemList');
        var items = itemList.querySelectorAll('li');
        
        items.forEach(function(item) {
            var itemName = item.querySelector('h2').textContent.toLowerCase();
            if (itemName.includes(searchInput)) {
                item.style.display = 'block';
            } else {
                item.style.display = 'none';
            }
        });
    });
    document.addEventListener('DOMContentLoaded', function() {
        const popupContainer = document.getElementById('popupContainer');
        const popupMessage = document.getElementById('popupMessage');
        
        function showPopup(message, color) {
            popupMessage.textContent = message;
            popupMessage.style.backgroundColor = color;
            popupContainer.classList.remove('opacity-0');
            popupContainer.classList.add('opacity-100');
            setTimeout(function() {
                popupContainer.classList.remove('opacity-100');
                popupContainer.classList.add('opacity-0');
            }, 3000);
        }
        
        {% if messages %}
        {% for message in messages %}
        {% if message.tags %}
        {% if 'normal' in message.tags %}
        showPopup("{{ message }}", "rgb(34,197,94)");
        {% elif 'late' in message.tags %}
        showPopup("{{ message }}", "rgb(251,191,36)");
        {% endif %}
        {% endif %}
        {% endfor %}
        {% endif %}
    });
</script>
{% endblock %}
